<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bloodbank management</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    $('#datatable').DataTable();
} );
  </script>
</head>
<body>
{% load static%}
<div class="container">
  <div class="row">
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">BLOOD BANK MANAGEMENT</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/organizations/">ORGANIZATIONS</a></li>
          <li><a href="/bloodbanks/">SEARCH THE BLOOD</a></li>
          <li><a href="/bloodgroups/">BlOOD GROUPS</a></li>
          {% if request.session.user.username %}
           <li><a href="#"> loged in as {{ request.session.user.username }}</a></li>
            <li><a href="/signout/">SIGNOUT</a></li>
            <li><a href="/manage/">MANAGE</a></li>
           
          {% else %}
          <li><a href="/signin/">SIGNIN</a></li>
          <li><a href="/signup/">SIGNUP</a></li>
          {% endif %}

        </ul>
      </div>
    </nav> 
  </div>
  <div class="row">
     <h2>sdfdsf</h2>
     <h3> 
     {% block pageheader%}
     PAGE HEADER
     {% endblock%}
     </h3>
    {% block content%}
    <h1>base html content</h1>
    {% endblock %}
    
  </div>
    

</div>

</body>
</html>
